.jumbotron  {
    color: rgba(255, 217, 0, 0.877);
    background-color: lightskyblue;
    text-shadow: 2px 2px grey;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    clear: both;
}
